# Node
node_modules/

# Build output
/build/
/.sst/
/dist/
/cdk.out/

# Vite/Remix
/.cache/
*.log

# Env files
.env
.env.local
.env.*.local

# SST outputs
outputs.json
stage

# Test results
/test-results/
/coverage/

# OS generated
.DS_Store
Thumbs.db